body {
  background-color: #F4F4F8;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial;
  margin: 0;
  padding-top: 0px;
  text-align: left;
}

h1 {
  text-align: center;
}

.home-title {
  font-family: 'Gloria Hallelujah', cursive, sans-serif;
  font-size: 72px;
  color: #666666;
}

.title{
  font-family: 'Gloria Hallelujah', cursive, sans-serif;
  font-size: 48px;
  color: #666666;
}

h2 {
  text-align: center;
}



/* Navigation bar styling citation: https://www.w3schools.com/css/css_navbar.asp */

 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: grey;
 

}

.active {
  background-color:#f87f3a;
}

.nav {
  top: 150px;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6f82ca;
}

.navLi {
  float: left;
}

.booksBox{
  background-color: #7bcc8e;
}
.linkBox{
  color:white; 
  width: 300px; 
  height: 300px; 
  margin: 0px auto;
  

}
.iconLinkBox{
  
  margin-left: 50px; 
  margin-bottom: 40px; 
  color:white;
  font-size: 40px;

  width: 300px; 
  height: 300px; 
  border: 2px solid  white;
  border-radius: 25px;
  
  text-align: center;
  
}


.iconContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

/*about page*/

.about {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
}

/*suggest page*/

.button{
  background-color: #7bcc8e;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid #ccc;
}

form{
  margin-left: 40px;
  margin-bottom: 60px;
  margin-top: 60px;
}

input[type=text]{
  margin: 8px 0;
}

.disclaimer{
  margin-left: 40px;
}

/* links page */

.search{
  margin-left: 40px;
}
.linksResultsTable{
  margin-left: 40px;
}

/* books page */

.resultsDiv{
  margin-left: 40px;
  margin-right: 40px;
}

/* about */
.aboutBlurb{
  margin-left: 40px;
  margin-right: 40px;
}