{% extends "layout.html" %}
{% block content %}
    <br>
    <h1>About Page</h1>

    <p class="about">
        We believe in the importance of free education being available to everyone.
        Massive school closings due to COVID-19 have caused parents and teachers to need to find new ways to
        help students continue learning at home. Education Accessibility can help kids and adults continue
        their education by accessing learning resources in a variety of different areas.
    </p>

    <p>
        Attributions:
        Home button, book button, about icon and edu links icon made by Freepik from www.flaticon.com
    </p>
{% endblock %}
