<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
      <title>OSU Spring 2020 Hackathon</title>
        <link rel="stylesheet" href="../static/css/style.css" type="text/css">
  </head>
  <body>
    <ul class="nav">
      <li class="navLi"><a href="{{ url_for('home') }}">Home</a></li>
      <li class="navLi"><a href="{{ url_for('home') }}">Placeholder</a></li>
      <li class="navLi"><a href="{{ url_for('home') }}">Placeholder</a></li>
      <li class="navLi" style="float:right"><a class="active" href="{{ url_for('about') }}">About</a></li>
    </ul>

    <h1>About Page</h1>
    
    
  </body>
</html>