{% extends "layout.html" %}
{% block content %}

<!-- BEGIN worldcat.org search box -->
<div id="wcs2w">
<form name="wcfw" id="wcfw" method="get" accept-charset="UTF-8" action="//www.worldcat.org/search" target="_top" style="margin: 0;">
<input type="hidden" name="qt" value="affiliate" />
<input type="hidden" name="ai" value="Maliha_maldz3" />
<table>
<tr><td colspan="2" style="text-align: center; font: 15px 'Arial Unicode MS', Arial, Helvetica, Verdana, sans-serif; line-height: 1.3em; margin: 0; text-align: center; width: 300px"><strong>Search for an item in libraries near you:</strong><br /><label for="q" style="color: #666;">Enter title, subject or author</label></td></tr>
<tr>
<td align="right"><input type="text" name="q" id="q" size="20" style="border: 1px solid #999; font: 12px 'Arial Unicode MS', Arial, Helvetica, Verdana, sans-serif; width: 150px;" /></td>
<td align="left"><input type="image" name="wcsbtn2w" id="wcsbtn2w" src="//www.worldcat.org/searchbox/images/wcsbtn2.gif?ai=Maliha_maldz3" alt="Search WorldCat" title="Search WorldCat" /></td>
</tr>
<tr><td colspan="2" style="font: 10px 'Arial Unicode MS', Arial, Helvetica, Verdana, sans-serif; margin: 0; text-align: center;"><a style="color: #999" href="//www.worldcat.org/" alt="Visit WorldCat.org" title="Visit WorldCat.org">WorldCat.org >></a></td></tr>
</table>
</form>
</div>
<!-- END worldcat.org search box -->

{% endblock %}


