{% extends "layout.html" %}
{% set active_page = "books" %}
{% block content %}


<h2>Search for Books in Libraries Near You</h2>

<!-- BEGIN worldcat.org search box -->
<div style="margin-left: 40px;" id="wcs2w">
<form name="wcfw" id="wcfw" method="get" accept-charset="UTF-8" action="//www.worldcat.org/search" target="_top">
<input type="hidden" name="qt" value="affiliate" />
<input type="hidden" name="ai" value="Maliha_maldz3" />

<table>
<tr><td colspan="2" style="font:15px; line-height: 1.3em; width: 300px"><br><label for="q" style="color: #666;">Enter title, subject or author</label></td></tr>
<tr>
<td align="left"><input type="text" name="q" id="q" size="20" style="border: 1px solid #999; font: 12px 'Arial Unicode MS', Arial, Helvetica, Verdana, sans-serif; width: 150px;" /></td>
<td align="left"><input type="image" name="wcsbtn2w" id="wcsbtn2w" src="//www.worldcat.org/searchbox/images/wcsbtn2.gif?ai=Maliha_maldz3" alt="Search WorldCat" title="Search WorldCat" /></td>
</tr>
<tr><td colspan="2" style="font: 10px 'Arial Unicode MS', Arial, Helvetica, Verdana, sans-serif; margin: 0;"><a style="color: #999" href="//www.worldcat.org/" alt="Visit WorldCat.org" title="Visit WorldCat.org">WorldCat.org >></a></td></tr>
</table>
</form>
</div>
<!-- END worldcat.org search box -->

<!--Open Library Api Search Bar will go here?-->
<div>
    <form id = "OpenLibForm" method = "POST" action = "/books" >
    <h3> Or search a book from Open Library </h3>
        <p>Open Library is a site that provides free books online </p>
    <div>
        <label> Title of Book: </label>
        <input type="text" name ="title"><br>
    </div>
    <div>
        <label>Author:</label>
        <input type ="text" name ="author"> <br>
    </div>
    <div>
        <label>Subject:</label>
        <input type ="text" name ="subject"> <br>
    </div>
        <input class="button" type = "submit" value ="Search Book">
    </form>
</div>

<p margin="5%">{{output}}</p>

{% if status=="true" %}
<div class="resultsDiv">
    <h3 align="center">Results</h3>
    <table  class ="resultsTable" border="1" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>

            <th>Title</th>
            <th>Sneak Peek</th>
            <th>Languages Available:</th>
            <th>Status</th>

            <th>Link</th>
    <!--   for links http://openlibrary.org/books/-->

        </tr>

        {% for x in booksList %}
        <tr>
            <td>{{x["title"]}}</td>
            <td>{{x["first_sentence"]}}</td>
             <td>{% for items in x["language"] %}
                       {{items}}<br>
                 {% endfor %}
             </td>
            <td>

                    {{x["availability"]["status"]}}

            </td>
            <td>
                <form action=http://openlibrary.org/{{x["seed"][0]}}">
                    <input type="submit" value="Link">
                </form>
    <!--            <a  href=http://openlibrary.org/books/{{x["text"][0]}}>Link</a>-->
            </td>
        </tr>
         {% endfor %}
        </tbody>

    </table>
</div>

{% endif %}


<!--End of Open Library API search bar -->
{% endblock %}


