{% extends "layout.html" %}
{% set active_page = "home" %}
{% block content %}
  <br>

  <h1>Educational Accessibility</h1>

  <div class="iconContainer"> 
    <a class="booksBox iconLinkBox " href="{{ url_for('books') }}"> <img width= "240px"  src="../static/images/book.png" ><br> Books </a>
    <a class="booksBox iconLinkBox " href="{{ url_for('links') }}"> <img width= "240px"  src="../static/images/school.png" ><br> Edu Links </a>
    <a class="iconLinkBox"> </a>
    <a class="iconLinkBox"> </a>
  </div>

{% endblock %}
 
  
