<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>OSU Spring 2020 Hackathon</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
  </head>
  <body>
  <div>
    <ul class="nav">
      <li class="navLi"><a class="active" href="{{ url_for('home') }}"><img width= "40px" class ="tabIcon" src="../static/images/home-page.png" ><br>Home</a></li>
      <li class="navLi"><a href="{{ url_for('books') }}"><img class ="tabIcon" width= "40px"  src="../static/images/book.png" ><br>Books</a></li>
      <li class="navLi"><a href="{{ url_for('links') }}"><br>Links</a></li>
      <li class="navLi" style="float:right"><a href="{{ url_for('about') }}"><img width= "40px"  class ="tabIcon" src="../static/images/info.png" ><br>About</a></li>
    </ul>
  </div>
  <br>
  <div>
    {% block content %}{% endblock %}
  </div>
  </body>
</html>