{% extends "layout.html" %}
{% set active_page = "links" %}
{% block content %}

<h2>Search For Free Educational Websites</h2>



<div id="search-bar">
<form class="example" action="main.py">
  <h4 class="search">Search by Keyword</h4>
  <input type="text" placeholder="Search.." name="search">
  <input class="button" type="submit" value="Submit">
</form>
</div>


<form action="/links/" method="post">
<h4>Please Select a Target Audience</h4>
<div class="ages">
    <input type="radio" id="all" name="age" value="all" checked>
  <label for="all">All</label>
    <input type="radio" id="kids" name="age" value="kids">
  <label for="kids">Kids</label>
    <input type="radio" id="teens" name="age" value="teens">
  <label for="teens">Teens</label>
    <input type="radio" id="adults" name="age" value="adults">
  <label for="adults">Adults</label>
</div>

<h4>Please Select a Category</h4>
<div class="categories">
  <input type="radio" id="general" name="category" value="general">
  <label for="general">General</label>
    <input type="radio" id="math" name="category" value="math">
  <label for="math">Math</label>
    <input type="radio" id="reading" name="category" value="reading">
  <label for="reading">Reading</label>
    <input type="radio" id="science" name="category" value="science">
  <label for="science">Science</label>
    <input type="radio" id="typing" name="category" value="typing">
  <label for="typing">Typing</label>
</div>
    <br>
  <input class="button" type="submit" value="Submit">
</form>

{% endblock %}