{% extends "layout.html" %}
{% set active_page = "suggest" %}
{% block content %}

<h2 class="title">We'd love to hear about any other great free sites that you've come across!</h2>

<form action="mailto:learnfree@mailinator.com" method="post" enctype="text/plain">Name:<br>
    <input type="text" name="name"><br>E-mail:<br>
    <input type="text" name="mail"><br>Website suggestion:<br>
    <input type="text" name="comment" size="50"><br><br>
    <input class="button" type="submit" value="Send">
    <input class="button" type="reset" value="Reset">
</form>

<div class="disclaimer">
    <p>--we will never use your email address--</p>
</div>

{% endblock %}